@model List<Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Referanslar Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Referans Ünvanı</th>
        <th>Yorum</th>
        <th>Referans Fotoğrafı</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.CustomerName</td>
            <td>@item.CustomerTitle</td>
            @*<td>@item.Comment.Substring(0,10)</td>*@
            <td>@item.Comment.Substring(0,10)</td>
            <td>@item.ImageUrl.Substring(0,20)</td>
            <td><a href="/AdminTestimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="/AdminTestimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/AdminTestimonial/AddTestimonial" class="btn btn-outline-primary">Yeni Referans Ekle</a>

