@model List<Contact>

@{
    ViewData["Title"] = "GetMessageByThx";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Teşekkür Mesajları</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Sil</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactId</td>
            <td>@item.ContactName</td>
            <td>@item.ContactSubject</td>
            <td><a href="/AdminContact/DeleteMessage/@item.ContactId" class="btn btn-outline-danger">Sil</a></td>
            <td><button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModalCenter">Mesajı Aç</button></td>
        </tr>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">@item.ContactSubject</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @item.ContactMessage
                        <br /><br />
                        <b>@item.ContactName</b>
                        <p>@item.ContactMail</p>
                        <p>@(((DateTime)item.ContactSendDateMessage).ToString("f"))</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    }
</table>
<a href="/AdminContact/Index/" class="btn btn-info">Geri Dön</a>