@model About

<section class="w3l-about py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <h3>@Model.Title</h3>
                <h5 class="mt-lg-3 mt-2">
                    @Model.SubTitle
                </h5>
                <p class="mt-sm-4 mt-3 mb-sm-0 mb-2">
                    @Model.Description
                </p>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-6 features-with-17-left1">
                        <a class="icon"><img src="@Model.Field1ImageUrl" alt="" /></a>
                        <h4><a>@Model.Field1Text</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1">
                        <a class="icon"><img src="@Model.Field2ImageUrl" alt="" /></a>
                        <h4><a>@Model.Field2Text</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a class="icon"><img src="@Model.Field3ImageUrl" alt="" /></a>
                        <h4><a> @Model.Field3Text</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a class="icon"><img src="@Model.Field4ImageUrl" alt="" /></a>
                        <h4><a>@Model.Field4Text</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>